h1{color:rgb(28, 212, 11);
font-size:50px;
font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    width:100%;
    margin:auto;
    padding:30px;
    text-align:center;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
    background-color: bisque;
    background-image: url("timothy-eberly-dTLlhgeEJWg-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

input,button{
    background-color:rgb(238, 27, 27);
    padding: 10px;
    font-size: inherit;
    font-family: inherit;
    outline-color: blueviolet;
}

button{color:rgb(243, 213, 18);
font-style: italic;
font-size: 20px;
transition: all 3s;}

button:hover{color: brown;}

input[type=number]{width:80px}

ul{
    display: inline-block;
    text-align: left;
    }


 /* class selector */
.movie li{padding: 10px;
            font-size: large;
            font-style: italic;
            color:rgb(240, 105, 220);
        } 

/*:nth-child() is pseudo selector*/
.movie li:nth-child(odd){background-color: grey;}  
.movie li:nth-child(even){background-color: white;}

a{color: darkblue;
transition: all 3s;
font-size: 20px;
font-style: italic;}

a:hover{color: brown;}

img{height: 30vh;
    transition: all 2s;}

img:hover{
    filter: grayscale();
    /*filter:blur(2px)*/;
    /*filter: brightness(20%);*/
    transform: rotate(5deg) scale(1.2);}


p,h2{color: aqua;
font-size: 20px;}

