<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendations</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1> Here are your Recommendations, my friend: </h1>
    <img src="static/popcorn.gif" >
    <ul class="movie">
        {%for movie in recommendation%} <!-- unordered list / use <ol> for ordered lists(numbers) -->
        <li>{{movie}}</li>
        {%endfor%}
    </ul class="movie">
    <img src="static/popcorn.gif" >
    <br>
    <form action="/">
        <input type="submit" value="Back to selection">
    </form>
    <!-- <a href="/">Go back to main page</a> -->

    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
    <script>
      confetti({
  particleCount: 100,
  spread: 70,
  origin: { y: 0.6 }
});
    </script>
</body>
</html>